.about {

  &__body {
    max-width: $max-container-width;
    margin: auto;
    padding: 60px 12px;
  }

  &__title {
    width: fit-content;
    text-align: center;
    margin: auto;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 24px;
  }

  &__item {
    width: 44%;
  }
}

.article {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    font-family: $main-font;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: $main-title-color;
    text-transform: capitalize;
  }

  &__text {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $dark-text-color;
  }
}

@media all and (max-width: 768px) {
  .about {

    &__body {
      padding: 40px 16px;
    }

    &__content {
      flex-direction: column;
    }

    &__item {
      width: 100%;
    }
  }

  .article {

    &__title {
      font-size: 18px;
      line-height: 25px;
    }
  }
}